<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag 'logo.svg', width: '150px' %>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: 'navbar-item' %>

      <% if tags.present? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Tags
          </a>

          <div class="navbar-dropdown">
            <% tags.each do |tag| %>
              <%= link_to tag.name, posts_path(tag: tag.name), class: 'navbar-item' %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= link_to('New Post', new_post_path, class: 'navbar-item') if policy(Post).new? %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button is-light' %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary'%>
            <%= link_to 'Log in', new_user_session_path, class: 'button is-light'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
