<%= form_with(model: post) do |form| %>
  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input', required: true %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :content, class: 'label' %>
    <div class="control">
      <%= form.rich_text_area :content, required: true %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit 'Submit', class: 'button is-link' %>
    </div>
    <% if post.persisted? %>
      <div class="control">
        <%= link_to 'Delete', 
          post_path(post), 
          method: :delete, 
          class: 'button is-danger', 
          data: {
            confirm: 'Are you sure you want to delete this?'
          } 
        %>
      </div>
    <% end %>
    <div class="control">
      <%= form.button 'Cancel', class: 'button is-text' %>
    </div>
  </div>
<% end %>
