<% if @tag %>
  <h1 class="title"><%= @tag.name %></h1>
<% end %>

<% @posts.each do |post| %>
  <article id="post-<%= post.id %>" class="message">
    <div class="message-header">
      <p>
        <%= link_to post.title, post_path(post) %>
        by <%= post.display_author %>
        on <%= post.created_at.strftime('%B %e, %Y') %>
      </p>
      <%= link_to('Edit', edit_post_path(post), class: 'button is-link') if policy(post).edit? %>
    </div>
    <div class="message-body">
      <%= render partial: 'shared/tags', locals: { post: post } %>
      <p class="content">
        <%= truncate(post.content.to_plain_text, length: 1000, omission: '...') %>
      </p>
      <%= render partial: 'shared/actions', locals: { post: post } %>
    </div>
  </article>
<% end%>

<%= paginate @posts %>
