<% @posts.each do |post| %>
  <article id="post-<%= post.id %>" class="message">
    <div class="message-header">
      <p>
        <%= link_to post.title, post_path(post) %>
        by <%= post.author&.email || 'Anonymous' %>
        at <%= post.created_at.strftime('%B %e, %Y %l:%M %P %Z') %>
      </p>
      <%= link_to('Edit', edit_post_path(post), class: 'button is-link') if policy(post).edit? %>
    </div>
    <div class="message-body">
      <%= post.content %>
    </div>
  </article>
<% end%>
