<h1 class="title"><%= @post.title %></h1>
<h2 class="subtitle">
  By <%= @post.display_author %>
  on <%= @post.created_at.strftime('%B %e, %Y') %>
</h2>
<%= render partial: 'shared/tags', locals: { post: @post } %>
<%= @post.content %>
